body{
    padding: 0px;
    margin: 0px;
    background: rgb(199, 233, 215);
    display: flex;
    align-items: center;
    justify-content: center;
}


h1,h2,h3,h4,h5,h6,p,a,input,button,label{
    font-family: 'Ubuntu', sans-serif;
    color: teal;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: centers;
    text-align: center;
}

.content img{
    width: 100px;
    position: relative;
    top: 150px;
}
.content .app{

    text-align : left;
    position: relative;
    top: 180px;
    width: 400px;
    background:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0px 0px 10px 2px #16161634;
}

input, button{
    outline: none;
    box-sizing: border-box;
    width: 100%; 
    height: 45px;
    border-radius: 8px;  
    border-style: solid;
    border-width: 1px;
    border-color: #dadada9a;
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

input{
    background: white;
    border-color: #c2c2c2b0;
    color: teal;
}
input:hover,:focus{
    border-color: teal;
}

input:focus{
    background: #b0f5cf9c;
}

button{
    
    background: rgb(61, 202, 131);
    border-color: #199c80b0;
    color: white;
    font-weight: 700;
}

button:hover{
    transition: 700ms;
    background: rgb(48, 158, 103);
}

#resultado{
    display: none;
    margin-top: 15px;
    text-align: justify;
}